<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header.ejs'); %> -->
        <link rel="stylesheet" href="/css/home.css">
        <h1>Home Page</h1>
        <section id="posted-content">
            <div>
                <% if (locals.user){ %>
            <form action="/posts/create" method="post">
            <textarea name="content" id="" cols="30" rows="4" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
            </form>
            <% } %>
            </div>
        

            <div>
                
                <ul>
                    <% for (post of posts) { %>
                        <li>
                            <p><%= post.content %></p>
                            <br>
                            <small><%= post.user.name %></small>
        
                          <div>
                              <% if (locals.user) { %>
                                <form action="/comment/create" method="POST">
                                    <input type="text" name="content" placeholder="Type Here to add comment..." required>
                                    <input type="hidden" name="post" value="<%= post._id %>" >
                                    <input type="submit" value="Add Comment">
                                </form>
                              <% } %>
                              
                              <div class="post-comments">
                                <ul id="post-comments-<%= post._id %>">
                                  <% for (comment of post.comments){ %>
                                    <p style="display: block;"><%= comment.content %>
                                        <br>
                                        <small>
                                            <%= comment.user.name %>
                                        </small>
                                        </p>
                                    <% } %>
                                </ul>
                              </div>

                          </div>

                        </li>
                        <% } %>
                </ul>
                    
            </div>
        </section>
        <!-- <%- include('_footer.ejs'); %>
    </body>
</html> -->